@media screen and (max-width:375px){
    nav {
        flex-direction: column;
        height: 95px;
    }

    .logo {
        position: relative;
        top: 10px;
        margin-bottom: 10px;
        height: 30px;
        left: -60px;
    }

    .nav-links {
        position: relative; 
        top: -5px;
        left: -40px; 
        font-size: 15px;      
    }

    .get-coffee-img {
        opacity: 1;
    }
}

@media screen and (max-width:1440px){
    .img-one {
        top: 20%;
        left: -3%;
    }

    .img-two {
        top: 7%;
        right: -8%;
    }
}