/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}

/* COLORS */
:root {
    --preto: #0242424;
    --amarelo: #FCA60F;
    --marrom: #C95E20;
}

/* STYLE */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    margin-bottom: 10%;
    box-shadow: 10px 2px 9px -5px rgba(168, 168, 168, 0.82);
    position: fixed;
    width: 100%;
    background-color: white;
}

a {
    margin: 0 20px;
    color: var(--preto);
    font-weight: 700;
}

button {
    border: none;
    color: white;
    background: var(--amarelo);
    font-size: 18px;
    font-weight: 700;
    height: 40px;
    width: 220px;
    border-radius: 4px;
    margin-top: 50px;
    margin-bottom: 20px;
    cursor: pointer;
}

.logo {
    cursor: pointer;
}

.social-media > img {
    margin-left: 10px;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.wrapper {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 960px;
    z-index: -1;
    background-color: red;
}

.scroll {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -80%);
}

.scroll > p {
    font-weight: 700;
    margin-bottom: 10px;
}